:root{
	--primary-color: #357b70;
	--secondary-color: #e0b354;
	--dark-grey: #2b2b2b;
	--light-grey: #d3d3d3;
	--zred: #fc6048;
	--zgold: #ffc023;
	--zblack: #000202;
	--zlunar: #eef2f2;
	--zblue: #075785;
	--zbackground: #201829;
	--zgreen: #678988;
	--zmaroon: #91100c;
}


/* HEADER FOOTER MAIN */

*{
    box-sizing: border-box;
}

body{
	min-height: 100vh;
	font-family: 'Lato', Helvetica Neue, Helvetica, sans-serif;
	background-color: var(--zbackground);
	background-image: url("../img/star-bkg-only-2.png");
	background-size: cover;
}


header{
	height: 100px;
	width: 100%;
}

.page-header{
	background-color: var(--zblack);
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	height: 100%;
}

nav a{
	color: var(--zlunar);
}

nav a:visited{
	color: var(--zlunar);
}

nav a:hover, a:focus{
	color: var(--zred);
}

nav a:active{
	color: var(--zgreen);
}

.page-header{
	display: flex;
	vertical-align: middle;
	width: 100%;
	padding-top: 0;
	position: fixed;
}

.page-header-item{
	flex: 0 1 200px;
}
.page-header-item:last-child{
	flex-grow: 1;
	text-align: right;
}

.navigation-list{
	list-style-type: none;
	display: inline-flex;
	flex-direction: row;
}

.navigation-list li{
	margin-right: 60px;
}

.navigation-list-item--active{
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	color: var(--zlunar);
}

.h1-on-black{
	color: var(--zgold);
}

p{
	color: var(--zlunar);
}

footer{
	width: 100%;
	height: 100px;
}

.footer-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--zblack);
	height: 100%;
}


footer a{
	text-decoration: none;
}

.social-media{
 	filter: invert(99%) sepia(3%) saturate(156%) hue-rotate(133deg) brightness(99%) contrast(93%);
	display: flex;
	justify-content: center;
	flex-direction: row;
	column-gap: 25px;
}


/*HOME PAGE */
/*.container-index{
	display: grid;
	grid-template-rows: 20% 60% 20%;
	grid-gap: 25px;
	width: 100%;
	height: 100%;
} */

.container-index{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.main-index{
	width: 100%;
}

.profile{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.home-hero-image{
	margin-right: 40px;
}

.profile-description p{
	font-size: 18px;
}

.web-style{
	margin-left: 10px;
	margin-right: 10px;
	background-color: var(--light-grey);
	color: var(--zred);
	font-family: Courier New, monospace;
	font-weight:300;
	padding: 5px;
	font-size: 16px;
}

.profile a{
	color: var(--zlunar);
}

.profile a:visited{
	color: var(--zgold);
}

.profile a:hover, a:focus{
	color: var(--zred);
}

.profile a:active{
	color: var(--zgreen);
}

/* ABOUT PAGE */
.container-about{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.main-about{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-about h1{
	text-align: center;
}

.main-about-description p{
	align-items: center;
}

.about-description{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15%;
	margin-right: 15%;
}


.skills-table{
	background-color: var(--zlunar);
	color: var(--zbackground);
	text-align: center;
	min-width: 50%;
	max-width: 70%;
	padding: 5px;
	margin-top: 25px;
	align-self: center;
	line-height: 2em;
}

.download-cv{
	text-align: center;
}

.button-cv{
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: var(--zgold);
	color: var(--zblack);
	text-decoration: none;
	padding: 20px;
	border-radius: 20px;
	border-bottom: 2px solid rgba (0, 0, 0, 0.3);
	transition: 0.5s opacity;
	margin-top: 25px;
	margin-bottom: 25px;
}

.button-cv:hover,
.button-cv:focus{
	cursor: pointer;
	opacity: 0.8;
}

/* ABOUT ANIMATIONS */
@keyframes color-change {
	0%{
		fill: var(--zred);
	}
	50%{
		fill: var(--zgold);
	}
	100%{
		fill: var(--zlunar);
	}
}

.sun{
	animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
	from{
		transform: translate(0,  50px);
	}
	to{
		transform: translate(200px, 50px)
	}
}

.cloud-front{
	animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
	from {
		transform: translate(446px, 48px);
	}
	to {
		transform: translate(100px, 48px);
	}
}

.cloud-back{
	animation: 34s cloud-move-reverse infinite alternate linear;
}

#about-picture{
	margin-bottom: 50px;
}

/* WORK PAGE */

.container-work{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.main-work{
	margin-bottom: 150px;
}
.work{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-right: 35px;
	margin-left: 35px;
}

.work h1{
	text-align: center;
}



.project-list-item a{
	color: var(--zblue);
}

.project-list-item a:hover, a:focus{
	color: var(--zgold);
}

.project-list-item a:active{
	color: var(--zred);
}

.project-list-item a:visited{
	color: var(z-gold);
}

.project-list-item h2{
	text-align: center;
	color: var(--zmaroon);
	line-height: 1em;
}

.project-list-item p{
	color: var(--zblack);
}

/* start grid fallback */
.project-list-item {
	display: inline-block;
	width: 33%;
}
/* end grid fallback */

@supports (display:grid) {
	.project-list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px
	}

	.project-list-item{
		background-color: var(--zlunar);
		color: var(--zblack);
		width: auto;
		min-height: auto;
		margin: 0;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 35px;

	}

	.project-list-item:last-child{
		grid-column: 3 / 3;
		grid-row: 1 / 3;
	}
}

@media all and (max-width:500px){
	.project-list{
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}

	.project-list-item:last-child{
		grid-column: auto / auto;
		grid-row: auto / auto;
	}

	h1{
		font-size: 22px;
	}
}

@media all and (min-width: 501px) and (max-width: 750px) {
	.project-list{
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

	.project-list-item:last-child{
		grid-column: auto / auto;
		grid-row: auto / auto;
	}

	h1{
		font-size: 22px;
	}
}

@media all and (max-width:750px) {
	.project-list{
		grid-gap: 10px;
	}

	.project-list-item:last-child{
		grid-column: auto / auto;
		grid-row: auto / auto;
	}

	h1{
		font-size: 22px;
	}

}

/* CONTACT PAGE */
.container-contact{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.main-contact{
	display: flex;
	flex-direction: column;
}

.contact-info{
	text-align: center;
	margin-bottom: 50px;
}

.contact-info a{
	color: var(--zlunar);
}

.contact-info a:hover, a:focus{
	color: var(--zred);
}

.contact-info a:active{
	color: var(--zgreen);
}

.contact-info a:visited{
	color: var(--zgold);
}

.contact-form{
	display: inline-block;
}

form p{
	color: var(--zblack);
}

.contact-form-container{
	background-color: var(--zlunar);
	margin-left: 15%;
	margin-right: 15%;
	padding: 20px;
	border-style: none;
	border-radius: 20px;
	margin-bottom: 150px;
}

.contact-form-container input{
	background-color: white;
	color: var(--zblack);
	border-style: none;
	border-radius: 12px;
	line-height: 35px;
	width: 100%;
	margin-top: 5px;
}

.contact-form-container textarea{
	background-color: white;
	color: var(--zblack);
	border-style: none;
	border-radius: 12px;
	line-height: 35px;
	width: 100%;
	margin-top: 5px;
}

#contact-submit{
	background-color: var(--zgold);
	cursor: pointer;
	transition: 1.0s background-color, opacity;
}

#contact-submit:hover, #contact-submit:focus{
	cursor: pointer;
	opacity: 0.8;
	background-color: var(--zblue);
	color: var(--zlunar);
}

#contact-submit:active{
	background-color: var(--zgreen);
}
